
<ion-content>
  <ion-back-button (click)="close()" style="position: absolute; color: rgba(0, 0, 0, 0.7); margin:14px 6px;" mode="ios" defaultHref="/landing"></ion-back-button>

  <app-header></app-header>

  <h4 style="margin: 18px;">Scenes let you add a series of actions which can be toggled in a single tap</h4>
  <ion-item lines="full" (click)="createScene()">
    <ion-label>
      Create a scene
    </ion-label>
    <ion-icon name="add-circle-outline" mode="ios" slot="end"></ion-icon>
  </ion-item>
  <ion-item lines="full" (click)="clear()">
    <ion-label>
      Clear All Scenes </ion-label>
    <ion-icon name="trash-outline" mode="ios" slot="end"></ion-icon>
  </ion-item>
  <ion-grid style="margin-top: 10vh;">
    <ion-row>
      <ion-col style="padding: 20px;" *ngFor="let i of scenes; index as j" size="6">
        <ion-card  mode="ios" (click)="playScene(i)">
          <ion-card-header style.background = "{{i.mood}}" style="height: 100px;" class="ion-no-padding">
            <ion-card-subtitle>
              <ion-item lines="none">
                <ion-icon slot="end" name="close-circle-outline" style="font-size: 20px;" mode="ios" (click)="presentAlertConfirm(j)"></ion-icon>
              </ion-item>
            </ion-card-subtitle>
          </ion-card-header>
          <ion-card-content class="ion-no-padding" style="background: var(--ion-color-primary-background);">
            <p style="margin:0;border-radius: 20px; color:var(--ion-color-primary-contrast) ; font-size: 20px; font-weight: bold;text-transform: capitalize;">{{i.name}}</p>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <div style="text-align: center;">
    <h1>
      Experimental Stuff
    </h1>
    <ion-button mode="ios"  style="--background: #FFF6FD"(click)="onAudioInput()">Feed In</ion-button>
    <ion-button mode="ios"  style="--background: #FFF6FD"(click)="stop()">Stop</ion-button>
    <h4>Choose the desired speed</h4>
    <ion-item class="range" lines="none">
      <ion-range pin="true" class="speed-range" step="1" (ionChange)="crazyValueLog()"
        [(ngModel)]="crazyVal" mode="ios" min="1" max="100">
        <ion-icon class="sun" size="small" slot="start" name="speedometer-outline"></ion-icon>
        <ion-icon class="sun end-speed" slot="end" size="small" name="speedometer-sharp"></ion-icon>
      </ion-range>
    </ion-item>
    <ion-button mode="ios" style="--background: #FFF6FD" (click)="psycho()">Go crazy</ion-button>
    <ion-button mode="ios"  style="--background: #FFF6FD" (click)="stopInterval()">Stop</ion-button>
  </div>
</ion-content>