<ion-header mode="ios">
  <ion-toolbar mode="ios">
    <ion-title>
      <div style="display:inline-block;vertical-align:top;">
        <img src="assets/logo.png" alt="logo" />
      </div>
      <div style="display:inline-block; color: black;">
        <div style="margin: 12px;">TripSync</div>
      </div>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item lines="full" (click)="createScene()">
    <ion-label>
      Create a scene
    </ion-label>
    <ion-icon name="add-circle-outline" mode="ios" slot="end"></ion-icon>
  </ion-item>
  <ion-item lines="full" (click)="clear()">
    <ion-label>
      Clear All Scenes </ion-label>
    <ion-icon name="trash-outline" mode="ios" slot="end"></ion-icon>
  </ion-item>
  <ion-grid style="margin-top: 10vh;">
    <ion-row>
      <ion-col style="padding: 20px;" *ngFor="let i of scenes; index as j" size="6">
        <ion-card  mode="ios" (click)="playScene(i)">
          <ion-card-header style.background = "{{i.mood}}" style="height: 100px;" class="ion-no-padding">
            <ion-card-subtitle>
              <ion-item lines="none">
                <ion-icon slot="end" name="close-circle-outline" style="font-size: 20px;" mode="ios" (click)="delete(j)"></ion-icon>
              </ion-item>
            </ion-card-subtitle>
          </ion-card-header>
          <ion-card-content class="ion-no-padding" style="background: var(--ion-color-primary-contrast);">
            <p style="margin:0;border-radius: 20px; color:var(--ion-color-primary) ; font-size: 20px; font-weight: bold;text-transform: capitalize;">{{i.name}}</p>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-button (click)="onAudioInput()">onAudioInput</ion-button>
  <ion-button (click)="islisten()">islisten</ion-button>
  <ion-button (click)="stop()">stop</ion-button>
</ion-content>