<ion-content [fullscreen]="true">
  <ion-back-button style="position: absolute; color: #FFF6FD; margin:14px 6px;" mode="ios" defaultHref="/landing"></ion-back-button>
  <app-header isDark="true"></app-header>
  <ion-segment (ionChange)="retrieveFavs()" [(ngModel)]="segment" value="color" mode="ios">
    <ion-segment-button value="color">
      Color-Picker
    </ion-segment-button>
    <ion-segment-button value="pattern">
      Pattern
    </ion-segment-button>
  </ion-segment>


  <div [ngSwitch]="segment">
      <div style="margin-top: 7vh" [hidden]="segmentSelected==='pattern'" class="wheel" id="colorWheelDemo"></div>
    <div [hidden]="segmentSelected==='color'" *ngSwitchCase="'pattern'" >
      <ion-slides #slides (ionSlideWillChange)="patternHit()" mode="ios" pager="true" [options]="slideOpts">
        <ion-slide *ngFor="let card of patternArray; index as x">
          <ion-card  style="color: #FFF6FD;" mode="ios">
            <ion-card-header style="padding: 6px 0 0 0;">
              <h5 style="color: #FFF6FD; margin: 16px 0 0 0;">{{card.title}}</h5>
                <ion-icon style="margin: 6px 0  0 0;" size="large" class="heart" (click)="pickFavourite()" [name]="card.icon"></ion-icon>
            </ion-card-header>
            <ion-card-content style=" padding: 0;">
              <ion-item lines="none" style="--background: transparent; color: #FFF6FD;">
                <p slot="end">{{x}}</p>
              </ion-item>
            </ion-card-content>
          </ion-card>
        </ion-slide>
      </ion-slides>
      <h4 class="label">Favourite Patterns</h4>
      <div class="container">
        <app-favourites putClass='dot' (click)="hitFavourite(i)" *ngFor="let fav of favouritePatterns; let i = index"
          [pattern]="favouritePatterns[i]?.name"></app-favourites>
      </div>
    </div>
  </div>

</ion-content>

<ion-footer mode="ios">
  <ion-item class="range" lines="none">
    <ion-range pin="true" class="speed-range" step="200" snaps="true" ticks="true" (ionChange)="valueLog()" [(ngModel)]="speedValue" mode="ios"
      min="2" max="3000">
      <ion-icon class="sun" size="small" slot="start" name="speedometer-outline"></ion-icon>
      <ion-icon class="sun end-speed" slot="end" size="small" name="speedometer-sharp" ></ion-icon>    
    </ion-range>
  </ion-item>
  <ion-item class="range" lines="none">
    <ion-range pin="true" step="17" snaps="true" ticks="true" (ionChange)="brightnessHit()" [(ngModel)]="brightValue" mode="ios"
      min="0" max="255">
      <ion-icon class="sun" size="small" slot="start" name="sunny"></ion-icon>
      <ion-icon class="sun" slot="end" name="sunny-outline"></ion-icon>
    </ion-range>
  </ion-item>
</ion-footer>
