ion-content {
    --background: rgba(255, 246, 253, 0.95);
}
ion-card {
    --background: rgba(0, 0, 0, 0.7);
    margin: 18px;
    height: 48px;
}
.close {
    width: 28px;
    height: 28px;
    margin: 0 5px 10px;
}
