<ion-back-button (click)="close()" style="position: absolute; color: rgba(0, 0, 0, 0.7); margin:14px 6px;" mode="ios"
    defaultHref="/landing"></ion-back-button>

<app-header></app-header>

<ion-content>
    <ion-grid style="margin-top: 10vh;">
        <h4 style="margin: 20px;"> Select a scene to automate:
        </h4>
        <div *ngIf="scenes.length ===0">

            <ion-card style="width: 100%;" mode="ios">
              <p style="color: #FFF6FD;margin-left:18px">Oops! Looks like there's no device to connect</p>\
            </ion-card>
          </div>
        <ion-row>
            <ion-col style="padding: 20px;" *ngFor="let i of scenes; index as j" size="6">
                <ion-card mode="ios" (click)="setTime(i)">
                    <ion-card-header style.background="{{i.mood}}" style="height: 100px;" class="ion-no-padding">
                    </ion-card-header>
                    <ion-card-content class="ion-no-padding" style="background: var(--ion-color-primary-background);">
                        <p
                            style="margin:0;border-radius: 20px; color:var(--ion-color-primary-contrast) ; font-size: 20px; font-weight: bold;text-transform: capitalize;">
                            {{i.name}}</p>
                    </ion-card-content>
                </ion-card>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>