<ion-content style="text-align: center;">
  <ion-back-button style="position: absolute; color: rgba(0, 0, 0, 0.7); margin: 6px;" mode="ios" defaultHref="/landing"></ion-back-button>

  <app-header></app-header>
  <ion-grid>
    <ion-row>
      <ion-col>
        Welcome to TripSync!
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        Your Registered EmailID : {{userEmail}}
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
<div style="text-align: center; background-color: #EEF5FE;">
  <ion-button style="width: fit-content; " fill = "outline" mode="ios" (click)="logout()">Logout</ion-button>
</div>
