<ion-header mode="ios">
  <ion-toolbar mode="ios">
    <ion-title>
      <div style="display:inline-block;vertical-align:top;">
        <img src="assets/logo.png" alt="logo" />
      </div>
      <div style="display:inline-block; color: black;">
        <div style="margin: 12px;">TripSync</div>
      </div>
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content style="text-align: center;">
  <ion-grid>
    <ion-row>
      <ion-col>
        Welcome to TripSync!
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        Your Registered EmailID : {{userEmail}}
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
<div style="text-align: center;">
  <ion-button style="width: fit-content; " fill = "outline" mode="ios" (click)="logout()">Logout</ion-button>
</div>
