<ion-header mode="ios">
  <ion-toolbar mode="ios">
    <ion-title>
      <div style="display:inline-block;vertical-align:top;">
        <img src="assets/logo.png" alt="logo" />
      </div>
      <div style="display:inline-block; color: black;">
        <div style="margin: 12px;">TripSync</div>
      </div>
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col text-center>
        Welcome to Dashboard!
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col text-center>
        Your Registered EmailID : {{userEmail}}
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
<ion-footer mode="ios" (click)="logout()">
  <ion-toolbar color="secondary">
    <ion-title>Log out</ion-title>
  </ion-toolbar>
</ion-footer>