<ion-menu side="start" menuId="first" contentId="main">
  <ion-content class="slide-bar">
    <ion-item lines="full" style="height: 43px;">
      <div style="display:inline-block; color: black;">
        <div style="margin: 12px; font-weight: bold;">TripSync</div>
      </div>
      <ion-icon (click)="goToProfile()" style="margin:0" mode="ios" size="large" slot="end" name="person-circle-outline"></ion-icon>
    </ion-item>
    <ion-row style="margin-top: 5vh">
      <ion-col (click)="goToHome()"  style="margin-bottom: 18px;" mode="ios" size="large" class="menu-item" size="6">
        <ion-icon name="home-outline"></ion-icon>
        <p style="margin: 5px">Home</p>
      </ion-col>
      <ion-col (click)="goToScenes()" style="margin-bottom: 18px;" mode="ios" size="large" class="menu-item" size="6">
        <ion-icon name="color-wand-outline"></ion-icon>
        <p style="margin: 5px">Scenes</p>
      </ion-col>
    </ion-row>
    <ion-list style="position: fixed; bottom: 0; width: 100vw;">
      <ion-item lines="none">
        <ion-label>Contact Us</ion-label>
      </ion-item>
      <ion-item lines="none">
        <ion-label>FAQ</ion-label>
      </ion-item>
      <ion-item lines="none">
        <ion-label>About Us</ion-label>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>
<ion-router-outlet id="main"></ion-router-outlet>
  <app-header></app-header>
<ion-content>
  <h5 class="text-left">
    Greetings!
  </h5>
  <ion-icon slot="start" (click)="openFirst()" style="margin: 32px 14px;" size="large" mode="ios" name="reorder-three-outline">  </ion-icon>

  <ion-icon (click)="openFirst()" style="margin: 32px 14px;" size="large" mode="ios" name="reorder-three-outline">
  </ion-icon>
  <ion-row style="">


    <h4  class="text-left">
      New devices available to connect:
    </h4>
    <div *ngIf="newDevices.length ===0">

      <ion-card style="width: 100%;" mode="ios">
        <p style="color: thistle;margin-left:18px" >Oops! Looks like there's no device to connect</p>\
      </ion-card>
    </div>
    <ion-col *ngFor="let i of newDevices; index as x" class="ion-no-padding" size="6">
      <ion-card  style="--background: #FFF6FD;height: 64px;text-align: center;" mode="ios" (click)="addDevice(x)">
        <ion-card-header  class="ion-no-padding">
          <ion-card-subtitle>

          </ion-card-subtitle>
        </ion-card-header>
        <ion-card-content class="ion-no-padding">
          <ion-icon style="color:rgba(0, 0, 0, 0.7); font-size: 20px;" name="construct-outline"></ion-icon>
          <p style=" color: rgba(0, 0, 0, 0.7);margin:0;border-radius: 20px;font-size: 18px; font-weight: bold;"> 
            {{i.name}}
            </p>
        </ion-card-content>
      </ion-card>
    </ion-col>

  </ion-row>
  <ion-row style="margin-top: 5vh;">
    <h4 class="text-left">
      Previously Connected Devices:
    </h4>
    <ion-card *ngIf="previousConnected.length ===0" style="width: 100%;" mode="ios">
      <p style="color: thistle;margin-left:18px" >Oops! Looks like there's no connected device</p>\
    </ion-card>
    <ion-col *ngFor="let j of previousConnected; index as y"  class="ion-no-padding" size="6">
      
      <ion-card style="--background: #FFF6FD;height: 80px;text-align: center;" mode="ios">
        <ion-card-header  class="ion-no-padding">
          <ion-card-subtitle>

          </ion-card-subtitle>
        </ion-card-header>
        <ion-card-content class="ion-no-padding">
          <ion-icon style="color:rgba(0, 0, 0, 0.7); font-size: 20px;" name="construct-outline"></ion-icon>
          <ion-input  clearInput [value]="j.name"></ion-input>
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>

</ion-content>