.close {
    width: 28px;
    height: 28px;
}

.color-col {
    padding: 0 17px 0 0;
}
.container {
    padding: 20px;
}
.btn {
    margin-top: 20px;
}
ion-label {
    font-weight:500;
}
ion-row {
    margin: 18px 0;
}
ion-range {
    padding: 0;
}
ion-item {
    --background: transparent;
}
ion-item::part(native) {
    padding: 0 !important;
}
ion-content {
    --background: #EEF5FE;
}