.close {
    width: 28px;
    height: 28px;
}

.color-col {
    padding: 4px;
    height: 40px;
}
.container {
    padding: 20px;
}
.btn {
    margin-top: 20px;
}
ion-label {
    font-weight:500;
}
ion-item::part(native) {
    padding: 0 !important;
}