/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import "~@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";


.sun {
    color: #FFF6FD;
}
.add-scene {
    width: 90vw !important;
    margin: 130px auto;
    height: 280px;
    border: 1px solid black;
    border-radius: 10px;
    --background: transparent;
}
.add-time {
    text-align: center;
    width: 90vw !important;
    margin: 130px auto;
    height: 190px;
    border: 1px solid black;
    border-radius: 10px;
    --background: transparent;
}

.delete-class {
    --background: rgba(255, 246, 253,0.95);
}
.end-speed {
    padding: 3px;
}

.toast {
    --color: black;
    --background : #e5eaf5 !important;
}
ion-range::part(tick-active) {
    display: none !important;
}
ion-range::part(tick) {
    display: none !important;
}

