<ion-content style="text-align: center;">
  <ion-button mode="ios" style="z-index: 99999; text-transform: none;position: fixed;top: 3px;right: 0;" fill="clear" (click)="skipToLast()">Skip</ion-button>
  <app-header></app-header>
  <ion-slides (ionSlideReachEnd)="skip=false" pager="true" [options]="slideOpts" style="text-align: center;">
    <ion-slide>
      <h1 style="position: fixed; top: 0vh;">Welcome to TripSync</h1>
      <img class="slidesImg1" src="assets/landing.png" alt="landing">
      <ion-row>
        <ion-col size="12" class="title">
          Landing Screen

        </ion-col>
        <ion-col size="12" class="subtitle">
          Available devices will be displayed on the landing screen which can be connected with one tap!
        </ion-col>
      </ion-row>

    </ion-slide>
    <ion-slide>

      <img class="slidesImg" src="assets/color.png" alt="color">
      <ion-row>
        <ion-col size="12" class="title">
          Color Pallete

        </ion-col>
        <ion-col size="12" class="subtitle">
          The color pallete offers 16 million colors to choose from, with an additional choice of whiteness and some
          predefined colors.
        </ion-col>
      </ion-row>

    </ion-slide>
    <ion-slide>
      <img class="slidesImg" src="assets/pattern.png" alt="pattern">
      <ion-row>
        <ion-col size="12" class="title">
          Patterns

        </ion-col>
        <ion-col size="12" class="subtitle">
          The pattern selector slide lets you select between a variety of modes, each of which can be marked as
          favourite based on your preference.
        </ion-col>
      </ion-row>

    </ion-slide>
    <ion-slide>
      <img class="slidesImg1" src="assets/scenes.png" alt="scenes">
      <ion-row>
        <ion-col size="12" class="title">
          Scenes

        </ion-col>
        <ion-col size="12" class="subtitle">
          Create your personalized scenes that cater your mood the most using 'Create a scene'. Created scenes can be
          accessed in the 'Scenes' tab.
        </ion-col>
      </ion-row>
      <ion-button mode="ios" fill="outline" style="position: absolute; bottom: 5vh; height: 30px;" (click)="next()">All
        set!</ion-button>
    </ion-slide>
  </ion-slides>
</ion-content>