<ion-header [translucent]="true" mode="ios">
  <ion-toolbar>
    <ion-title>
      LHL
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <div>
    <ion-item lines="none">
      <ion-chip color="primary" (click)="scanBlte()" *ngIf="!bluetoothEnabled">
        <ion-label>Retry</ion-label>
      </ion-chip>
      <p *ngIf="bluetoothEnabled" class="status">{{connectedStatus | emptyValue:'Connecting'}}</p>
      <ion-spinner slot="end" name="dots" *ngIf="!bluetoothEnabled"></ion-spinner>
    </ion-item>
  </div>
  <div class="color-picker">
    <color-sketch
      [presetColors]="['#D0021B', '#F5A623', '#F8E71C', '#8B572A', '#7ED321', '#417505',  '#9013FE', '#4A90E2', '#50E3C2', '#9B9B9B', '#FFFFFF']"
      [color]="initialState" (onChangeComplete)="changeComplete($event)"></color-sketch>
  </div>
  <div>
    <ion-slides #slides (ionSlideWillChange)="patternHit()" mode="ios" pager="true" [options]="slideOpts">
      <ion-slide *ngFor="let card of patternArray">
        <ion-card mode="ios">
          <ion-card-header>
            <ion-card-subtitle>Patterns</ion-card-subtitle>
            <ion-button fill="clear" (click)="pickFavourite()">
              <ion-icon [name]="card.icon"></ion-icon>
            </ion-button>
            <ion-card-title>{{card.title}}</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            Choose your pattern with code {{card.code}}
          </ion-card-content>
        </ion-card>
      </ion-slide>
    </ion-slides>
    <h4 class="label">Favourite Patterns</h4>
    <div class="container">
      <app-favourites putClass='dot' (click)="hitFavourite(i)" *ngFor="let fav of favouritePatterns; let i = index"
        [pattern]="favouritePatterns[i]?.id"></app-favourites>
    </div>
  </div>
</ion-content>
<ion-footer mode="ios">
  <ion-item lines="none">
    <ion-range (ionChange)="brightnessHit()" [(ngModel)]="brightValue" mode="ios" min="0" max="255" step="1">
      <ion-icon size="small" slot="start" name="sunny"></ion-icon>
      <ion-icon slot="end" name="sunny"></ion-icon>
    </ion-range>
  </ion-item>
</ion-footer>