.container {
    border: 1px solid;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.15), 0 8px 16px rgba(0, 0, 0, 0.15);
    height: 56px;
    text-align: center;
    width: 70%;
    border-radius: 14px;
    margin: 1vh auto 2.5vh auto;
}
img {
    width: 40px;
}
.color-picker {
    margin: 1vh auto 0 auto;
    width: 70%;
}
ion-content {
    text-align: center;
}
ion-card {
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.15), 0 8px 16px rgba(0, 0, 0, 0.15);
    width: 70%;
    border: 1px solid;
}
.status {
    text-transform: capitalize;
}
ion-footer {
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.15), 0 8px 16px rgba(0, 0, 0, 0.15);
}
