
<ion-content>
  <ion-item lines="none" mode="ios" style="--background: transparent;">
    <h5>
      Give your Scene a name and some actions!
    </h5>
    <ion-icon class="close" mode="ios" name="close-circle-outline" (click)="modalController.dismiss()" slot="end">
    </ion-icon>
  </ion-item>

<ion-item mode="ios" style="margin-right: 18px;--background: transparent;">
  <ion-label position="floating">Name</ion-label>
  <ion-input [(ngModel)]="name"></ion-input>
</ion-item>
<ion-card mode="ios" (click)="addActions()" [disabled]="name.length===0">
  <ion-card-content class="ion-no-padding" >
    <ion-item style="color: #FFF6FD;--background: transparent;" lines="none">Actions<ion-icon slot="end" style="color: #FFF6FD;" mode="ios" name="game-controller-outline"></ion-icon></ion-item>
  </ion-card-content>
</ion-card>
<p style="color: var(--ion-color-danger); margin: 18px;" *ngIf="name.length===0">Please enter a name before adding actions</p>
</ion-content>
