<ion-header mode="ios">
  <ion-toolbar mode="ios">
    <ion-title>
      <div style="display:inline-block;vertical-align:top;">
        <img src="assets/logo.png" alt="logo" />
      </div>
      <div style="display:inline-block; color: black;">
        <div style="margin: 12px;">TripSync</div>
      </div>
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <div>
    <ion-item lines="none">
      <ion-chip color="success" (click)="scanBlte()" *ngIf="!blueAndLoc">
        <ion-label>Connect</ion-label>
      </ion-chip>
      <ion-badge *ngIf="!blueAndLoc" mode="ios" slot="end" color="danger">!</ion-badge>
      <ion-badge *ngIf="blueAndLoc" mode="ios" slot="end" color="success">:)</ion-badge>
    </ion-item>
    <ion-select (click)="scanBlte()" *ngIf = "foundDevices.length>1" (ionChange)="selectOne()" [(ngModel)]="selectedLhl" slot="start" mode="ios" [interfaceOptions]="customPopoverOptions" 
    interface="popover" placeholder="Select device" value = '24:62:AB:FD:E1:12'>
      <ion-select-option  *ngFor="let i of foundDevices" [value]="i.address">{{i.name}}</ion-select-option>
    </ion-select>
  </div>
  <ion-segment (ionChange)="retrieveFavs()" [(ngModel)]="segment" value="color" mode="ios">
    <ion-segment-button value="color">
      Color-Picker
    </ion-segment-button>
    <ion-segment-button value="pattern">
      Pattern
    </ion-segment-button>
  </ion-segment>


  <div [ngSwitch]="segment">
    <div *ngSwitchCase="'color'" class="color-picker">
      <color-sketch
        [presetColors]="['rgb(255, 0, 0)', 'rgb(105, 255, 0)','rgb(255, 237, 0)','rgb(32, 0, 255)', 'rgb(255, 0, 69)', 'rgb(0, 255, 255)','rgb(255, 0, 194)']"
        [color]="initialState" (onChangeComplete)="changeComplete($event)"></color-sketch>
    </div>
    <div *ngSwitchCase="'pattern'">
      <ion-slides #slides (ionSlideWillChange)="patternHit()" mode="ios" pager="true" [options]="slideOpts">
        <ion-slide *ngFor="let card of patternArray">
          <ion-card mode="ios">
            <ion-card-header>
              <ion-card-subtitle>Patterns</ion-card-subtitle>
              <ion-button fill="clear" (click)="pickFavourite()">
                <ion-icon class="heart" [name]="card.icon"></ion-icon>
              </ion-button>
              <ion-card-title>{{card.title}}</ion-card-title>
            </ion-card-header>
            <ion-card-content>
            </ion-card-content>
          </ion-card>
        </ion-slide>
      </ion-slides>
      <h4 class="label">Favourite Patterns</h4>
      <div class="container">
        <app-favourites putClass='dot' (click)="hitFavourite(i)" *ngFor="let fav of favouritePatterns; let i = index"
          [pattern]="favouritePatterns[i]?.name"></app-favourites>
      </div>
    </div>
  </div>

</ion-content>

<ion-footer mode="ios">
  <ion-item class="range" lines="none">
    <ion-range class="speed-range" step="200" snaps="true" ticks="true" (ionChange)="valueLog()" [(ngModel)]="speedValue" mode="ios"
      min="2" max="3000">
      <ion-icon class="sun" size="small" slot="start" name="speedometer-outline"></ion-icon>
      <ion-icon class="sun end-speed" slot="end" size="small" name="speedometer-sharp" ></ion-icon>    
    </ion-range>
  </ion-item>
  <ion-item class="range" lines="none">
    <ion-range step="17" snaps="true" ticks="true" (ionChange)="brightnessHit()" [(ngModel)]="brightValue" mode="ios"
      min="0" max="255">
      <ion-icon class="sun" size="small" slot="start" name="sunny"></ion-icon>
      <ion-icon class="sun" slot="end" name="sunny-outline"></ion-icon>
    </ion-range>
  </ion-item>
</ion-footer>