<ion-header mode="ios">
  <ion-toolbar [class.dark]="isDark" style="--background: #EEF5FE;" mode="ios">
    <ion-title style="padding: 0; height: 60px !important;">
      <ion-row >
        <ion-col size="4">
          <ion-button *ngIf="setAction" class="back-button ion-no-padding" app-location-back 
          mode="ios" fill="clear" (click)="backButtonAlert($event)">
          <ion-icon class="custom-back" name="chevron-back-sharp"></ion-icon><span
              class="custom-back-text">Back</span>
      </ion-button>
        </ion-col>
        <ion-col size="4">
          <div style="text-align: center; width: 100%;">
            <img style="margin: 0 0 -12px 0;  width: 40px;" src="assets/logo.png" alt="logo" />
            <p style="margin: 12px; display:inline-block; color: black;">TripSync</p>
          </div>
        </ion-col>
        <ion-col size="4">

        </ion-col>

      </ion-row>
    </ion-title>
  </ion-toolbar>
</ion-header>