<app-header></app-header>

<ion-content class="ion-padding">
  <div>
    <img class="hero" src="assets/Tripsync-hero-image (1).png" alt="hero"/>
  </div>
  
<div style="text-align: center;">
  <form class="form" [formGroup]="validations_form" (ngSubmit)="loginUser(validations_form.value)">
    <ion-item lines="none" class="email">

      <ion-input  placeholder="Email" type="text" formControlName="email"></ion-input>    </ion-item>

    <div class="validation-errors">
      <ng-container *ngFor="let validation of validation_messages.email">
        <div class="error-message"
          *ngIf="validations_form.get('email').hasError(validation.type) && (validations_form.get('email').dirty || validations_form.get('email').touched)">
          {{ validation.message }}
        </div>
      </ng-container>
    </div>

    <ion-item lines="none" class="email">
      <ion-input  placeholder="Password"  type="password" [type]="passwordType" formControlName="password" class="form-controll" required></ion-input>
      <ion-icon slot="end" [name]="passwordIcon" class="passwordIcon" (click)='hideShowPassword()'></ion-icon>
    </ion-item>
    <div class="validation-errors">
      <ng-container *ngFor="let validation of validation_messages.password">
        <div class="error-message"
          *ngIf="validations_form.get('password').hasError(validation.type) && (validations_form.get('password').dirty || validations_form.get('password').touched)">
          {{ validation.message }}
        </div>
      </ng-container>
    </div>

    <ion-button mode="ios"  style="color:rgba(0, 0, 0, 0.7); --background: #FFF6FD" class="submit-btn" type="submit" [disabled]="!validations_form.valid">Log In</ion-button>

    <label class="error-message">{{errorMessage}}</label>
  </form>
  <p style="text-align: center;">
    Don't have an account? 
  </p>
  <ion-button mode="ios" style="color:rgba(0, 0, 0, 0.7); --background: #FFF6FD" (click)="goToRegisterPage()">Create one!</ion-button>
  <hr/>

  <ion-button mode="ios" style="color:rgba(0, 0, 0, 0.7); ; --background: #FFF6FD" (click) = "guestLogin()" >Guest Login</ion-button>

</div>
</ion-content>