.email {
    border: 1px solid #5e00a5;
    border-radius: 10px;
    margin: 16px 0;
    color: #171519;
}
ion-content {
    --background: #EEF5FE;
}
.submit-btn {
    color: #171519;
    --border-color: #5e00a5;
}
ion-toolbar {
    color: white;
    --background: white;
    --border-width: 0 !important;
}
.passwordIcon{
    font-size:25px !important;
    position: relative !important;
    margin: 0 auto !important;
 }
 .hero {
    margin: 5vh 0 0 0;
 }